
<div class="page-head">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data Tables</li>
    </ol>
</div>


<div class="tab-container">
<ul class="nav nav-tabs">
    <li class="active"><a id="detailTab" href="#options" data-toggle="tab" target="_self">Options</a></li>
    <li><a id="optionTab" href="#optionsets" data-toggle="tab" target="_self">Option Sets</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active content" id="options">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="header">
                    <h3 class="pull-left">Product Options</h3>
            <span class="pull-right">
                <a href="#/options/add" class="btn btn-primary">Add</a>
                <a href="#" class="btn btn-default">Remove</a>
            </span>
                    <div class="clearfix"></div>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="datatable">
                            <thead>
                            <tr>
                                <th style="width:2%;" class="text-center"><input type="checkbox" value="on"></th>
                                <th>Name</th>
                                <th>Display Name</th>
                                <th>Values</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Color</td>
                                <td>IPhone Color</td>
                                <td>White, Black</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Size</td>
                                <td>Storage</td>
                                <td>16GB, 32GB, 64GB</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="optionsets">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="header">
                    <h3 class="pull-left">Options Sets</h3>
            <span class="pull-right">
                <a href="#/optionset/add" class="btn btn-primary">Add</a>
                <a href="#" class="btn btn-default">Remove</a>
            </span>
                    <div class="clearfix"></div>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="datatable">
                            <thead>
                            <tr>
                                <th style="width:2%;" class="text-center"><input type="checkbox" value="on"></th>
                                <th>Name</th>
                                <th>Options</th>
                                <th>Assigned To</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>Colors, Size, LCD</td>
                                <td>20 products</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th class="text-center"><input type="checkbox" value="on"></th>
                                <td>Trident</td>
                                <td>USD 20</td>
                                <td>23</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>








<script type="text/javascript">


$(document).ready(function(){
    //initialize the javascript
    //Basic Instance
    $("#datatable").dataTable();

    //Search input style
    $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search');
    $('.dataTables_length select').addClass('form-control');



});
</script>